@model ViewModel_ShowData
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="~/styles/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles/style.css">
</head>

<body>

    <section class="container-fluid">
        <section class="row">
            <div class="col-12">
                <div class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close">&times;</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="container-fluid">

        <section class="row">
            <!-- Left Section -->
            <section class="col-xl-4 col-lg-4 col-4 left">
                <!-- Logo -->
                <div class="logo-section">
                    <img src="" alt="">
                </div>

                <!-- Title -->
                <div class="title-section">
                    <h1 class="title">
                        Lets <br> Make <br> It <br> Happen
                    </h1>
                </div>

                <!-- Time Section -->
                <div class="time">
                    <div class="clock">

                    </div>

                    <div class="top">
                        <span>15 : 00 : 00</span>
                    </div>
                    <div class="bottom">
                        <span>July 11 2019</span>
                    </div>
                </div>

            </section>

            <!-- Right Section -->
            <section class="col-xl-8 col-lg-8 col-8 right">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6 left-section">
                            <div class="left-section-content">
                                <header class="text-center">
                                    <h4>Today</h4>
                                </header>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 top-box">
                                            <div class="item">
                                                <div class="title">Leads</div>
                                                <div class="value" id="todayetype2">@Model.TodayType2</div>
                                            </div>
                                        </div>
                                        <div class="col-6 top-box">
                                            <div class="item">
                                                <div class="title">FTD</div>
                                                <div class="value" id="todayetype4">@Model.TodayType4</div>
                                            </div>
                                        </div>
                                        <div class="col-6 bottom-box">
                                            <div class="item">
                                                <div class="title">CR</div>
                                                <div class="value">18.7</div>
                                            </div>
                                        </div>
                                        <div class="col-6 bottom-box">
                                            <div class="item">
                                                <div class="title">Partner</div>
                                                <div class="value">7</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 right-section">
                            <div class="right-section-content">
                                <header class="text-center">
                                    <h4>Week</h4>
                                </header>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 top-box">
                                            <div class="item">
                                                <div class="title">Leads</div>
                                                <div class="value" id="weektype2">@Model.WeeklyType2</div>
                                            </div>
                                        </div>
                                        <div class="col-6 top-box">
                                            <div class="item">
                                                <div class="title">FTD</div>
                                                <div class="value" id="weektype4">@Model.WeeklyType4</div>
                                            </div>
                                        </div>
                                        <div class="col-6 bottom-box">
                                            <div class="item">
                                                <div class="title">CR</div>
                                                <div class="value">11.4</div>
                                            </div>
                                        </div>
                                        <div class="col-6 bottom-box">
                                            <div class="item">
                                                <div class="title">Partner</div>
                                                <div class="value">8</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 middle">
                            <div class="middle-content">
                                <div id="left">
                                    <h3>Month - July 2019</h3>
                                </div>
                                <div id="center">
                                    <h5>Convertion</h5>
                                </div>
                                <div id="right">
                                    <h2>9.6%</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 bottom">
                            <div class="bottom-section">
                                <div class="bottom-left-section">
                                    <div class="title">Title</div>
                                    <div class="value">380</div>
                                </div>
                                <div class="bottom-right-section">
                                    <div class="title">Title</div>
                                    <div class="value">752</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

        </section>

    </section>

    <script src="scripts/jquery.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/script.js"></script>
    <script>
        $(document).ready(function () {
            window.setInterval(function () { GetDataFromServer(); }, 5000);   // check last sale evry 5 seccond
        })
        function GetDataFromServer() {
            $.ajax({
                type: "Get",
                alowCache: false,
                url: "Home/ShowDataForView",
                success: function (response) {
                    console.log(response);
                    var jsonresult = JSON.parse(response);
                    var todaytype2 = jsonresult.TodayType2;
                    var todaytype4 = jsonresult.TodayType4;
                    var weektype2 = jsonresult.WeeklyType2;
                    var weektype4 = jsonresult.WeeklyType4;
                    $('#todayetype2').empty();
                    $('#todayetype2').append(todaytype2);
                    $('#todayetype4').empty();
                    $('#todayetype4').append(todaytype4);
                    $('#weektype2').empty();
                    $('#weektype2').append(weektype2);
                    $('#weektype4').empty();
                    $('#weektype4').append(weektype4);
                },
                error: function () {
                    console.log("Error");
                }
            });
        }
    </script>
</body>

</html>